<div class="b-popup__denied" ng-if="denied">
	<div class="b-popup__denied-bg"></div>
	<div class="b-popup__denied-text">
		<div class="b-popup__denied-image logo__denied"></div>
		<span class="b-popup__denied-title txt_h3--highlighted">Make sure you follow the rules of a perfect biometric selfie</span>
		<div class="b-popup__denied-item">
			<span class="b-popup__denied-item-icon icon__light"></span>
			<span class="b-popup__denied-item-text">Find a well lit place</span>
		</div>
		<div class="b-popup__denied-item">
			<span class="b-popup__denied-item-icon icon__mute"></span>
			<span class="b-popup__denied-item-text">Make sure it's quiet</span>
		</div>
		<div class="b-popup__denied-item">
			<span class="b-popup__denied-item-icon icon__sunglasses"></span>
			<span class="b-popup__denied-item-text">Take off sunglasses</span>
		</div>
		<div class="b-popup__denied-item">
			<span class="b-popup__denied-item-icon icon__many_faces"></span>
			<span class="b-popup__denied-item-text">Other faces detected</span>
		</div>
		<div class="b-popup__denied-buttons">
			<a href="" ng-click="loginCancel()" class="b-popup__denied-cancel link" />Cancel</a>
			<button class="b-popup__denied-button button" ng-click="again()" />Try again</button>
		</div>
	</div>
</div>
<div class="b-verification">
	<div class="b-vwrap">
		<div class="b-video">
			 <div class="b-video__control">
				<div class="b-verify__descr">
					Make sure you look directly to the camera and press "REC" button when it's active to start the recording. At the same time pronounce the following digits and press "STOP" button when done:
				</div>
				<div class="b-verify__text txt_h1--highlighted">{{ verifyText }}</div>
				<div class="b-video__control-active">
					<button class="b-video__control-button" ng-click="startVerification()" ng-if="!vrecord">rec</button>
					<button class="b-video__control-button" ng-click="stopVerification()" ng-if="vrecord">stop</button>
					<a href="" ng-click="loginCancel()" class="b-video__control-update link">Cancel</a>
				</div>
			</div>
			<div class="video__box"></div>
		    <canvas id="canvas" width="640" height="480"></canvas>
		</div>
		<div class="logo__onepass-under"></div>
	</div>
</div>
