<div ng-include="'templates/popups.html'"></div>
<div class="b-auth">
	<h1 class="b-auth__title" translate>OnePass Demo</h1>
	<div class="b-auth__text" translate><p>This is the demo-example that introduces the technology of the bimodal biometric authentication by face and voice and represents OnePass cloud service provided by the STC-innovation Ltd. The technology proposed can be used in different cases as the alternative or as the additional factor of authentication to the system.</p><p>In this demo it’s possible to create your own biometrical password and go through the verification.</p><p>First you need to create your biometric profile. So, go to the Registration.</p><p>Put your e-mail address and make a photo via your web-cam.</p><p>After that pronounce the digits on your screen: one point after another, three times.</p><p>When done you can try to authenticate to the system via going through the biometrical verification.</p><p>Go to the LogIn, put your e-mail and pronounce the digits of your screen while looking to your web-cam.</p></div>
	<form role="form" name="formAuth" class="b-auth__form">
		<span class="b-auth__form-error" ng-if="main.errorExists" translate>Account exists</span>
		<span class="b-auth__form-error" ng-if="main.errorNotFound" translate>Account not found</span>
		<input type="text" placeholder="{{'Email' | translate}}" ng-change="change()" ng-class="{'input-error': main.errorExists || main.errorNotFound}" ng-model="person.id" class="b-auth__form-input input" ng-pattern="/^(([^<>()\[\]\\.,;:\s@]+(\.[^<>()\[\]\\.,;:\s@]+)*)|(.+))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/" required></input>
		<button type="submit" ng-click="verification(person)" ng-disabled="formAuth.$invalid" class="b-auth__form-button button" translate>Verification</button>
		<button type="submit" ng-click="registration(person)" ng-disabled="formAuth.$invalid" class="b-auth__form-button button" translate>Registration</button>
	</form>
</div>
