<div ng-include="'templates/popups.html'"></div>
<div class="b-registration">
	<div class="b-screen" ng-class="{'hidden': !registration.screen}">
	    <div class="b-screen__control">
	    	<div class="b-screen__control-description" translate>Make sure you look directly to the camera and press the button</div>
			<div class="b-screen__control-buttons">
				<button class="b-screen__control-button button-circle icon__screen" ng-click="uploadScreen()"></button>
				<a href="#/" class="b-screen__control-cancel" translate>Cancel</a>
			</div>
		</div>
	    <div class="video-frame" ng-class="{'freeze': preloader}"></div>
	</div>
	<div class="b-audio" ng-class="{'hidden': !registration.audio}">
		<div class="b-audio__title" ng-if="!registration.complete">
			<span ng-if="registration.audioStep == 0" translate>Selfie: done</span>
			<span ng-if="registration.audioStep == 1" translate>Two to go</span>
			<span ng-if="registration.audioStep == 2" translate>Last one</span>
		</div>
		<div class="b-audio__title" ng-if="registration.complete" translate>Registration complete</div>
		<div class="b-audio__description">
			<span ng-if="!registration.complete" translate>Press the REC button and pronounce following digits:</span>
			<span ng-if="registration.complete" translate>All set up and ready to go</span>
		</div>
		<div class="b-audio__numbers" ng-if="!registration.complete">{{ registration.password.numbers }}</div>
		<div class="b-audio__buttons">
			<button href="" class="button-circle" ng-click="startRecordAudio()" ng-if="!registration.recording && !registration.complete" translate>REC</button>
			<button href="" class="button-circle" ng-click="stopRecordAudio()" ng-if="registration.recording  && !registration.complete" translate>STOP</button>
			<a href="#/" class="b-screen__control-cancel" ng-if="!registration.complete" translate>Cancel</a>
			<button class="b-audio__button-ok button" ng-click="complete()" ng-if="registration.complete" translate>Done</button>
		</div>
	</div>
</div>