/* reset
--------------------------------- */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {margin: 0;padding: 0; border: 0;  font-size: 100%;  list-style: none;  font: inherit;  vertical-align: baseline; text-decoration: none;}/* HTML5 display-role reset for older browsers */article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {    display: block;}body {  line-height: 1;}blockquote, q { quotes: none;}blockquote:before, blockquote:after,q:before, q:after {   content: '';    content: none;}table {  border-collapse: collapse;  border-spacing: 0;}

/* fonts
--------------------------------- */


/* project
--------------------------------- */
html{font-size: 100%; font-family: Tahoma;}
body{background: #009aa6 !important;}

.b-wrapper{min-width: 930px; margin: 0 auto; display: block; position: relative; box-sizing: border-box;}
.b-header{ position: fixed; z-index: 99999; top: 4px; right: 10px;}
.b-header__username, .b-header__logout{display: inline-block; vertical-align: middle;}
.b-header__username, .b-location{font-size:15px; color:#a6aaa9;	padding: 0 10px;	text-align: center; height: 30px; line-height: 30px;}
.b-header__username-wrap{display: inline-block; }
.b-header__username-wrap, .b-location{background:#f9f9f9; border:1px solid #dcdee0; border-radius:5px; display: inline-block; vertical-align: middle;}

.b-location{padding: 0 10px; border: none; font-size: 12px; font-family: Arial;}
.b-location__item{cursor: pointer; line-height: 30px;}
.b-location__current{font-weight: bold; color: #53585f; font-size: 14px;}
.b-location__text{display: inline-block; vertical-align: middle; }

.b-auth{width: 50%; min-width: 500px; margin: 20px auto 0;}
.b-auth__title{text-align: center;}
.b-auth__text{margin: 20px 0; display: block; color: #fff; line-height: 1.5em;}
.b-auth__form{width: 300px; margin: 0 auto;}
.b-auth__form-input{display: block; width: 100%; margin: 0 auto 10px; background-color: transparent; padding-left: 5px; color: #fff;}
.b-auth__form-input, .b-auth__form-input::placeholder{font-size: 17px; box-sizing: border-box;}
.b-auth__form-input::placeholder{color: rgba(255, 255, 255, 0.7);}
.b-auth__form-button{width:49%;}
.b-auth__form-error{color: #9f1932; float: right; margin-bottom: 10px; font-size: 15px;}

.b-registration{color: #fff;}
.video-frame{position: relative;}
.video-frame video, .video-frame canvas{width: 640px; height: 480px;}
.video-frame video{position:relative; transform: scaleX(-1);  -o-transform: scaleX(-1);  -ms-transform: scaleX(-1);  -moz-transform: scaleX(-1);  -webkit-transform: scaleX(-1);}
.video-frame canvas{position: absolute; top: 0; left: 0;}

.b-screen, .b-audio{width: 640px; margin: 20px auto 0; color: #fff; text-align: center;}
.b-screen__control-buttons, .b-audio__buttons{margin: 10px 0 20px;}
.b-screen__control-button, .b-screen__control-cancel{ display: inline-block; vertical-align: middle; }
.b-screen__control-cancel{margin-left: 10px; color: #000;}
.b-screen__numbers{width: 200px; height: 50px; text-align: center; line-height: 50px; font-size: 40px; margin: 10px auto 0; border: 1px dashed #fff;}


.b-audio__title{color: #ffd500;  font-size: 22px;  display: block;  margin-bottom: 16px;}
.b-audio__numbers{font-size: 35px; margin: 50px 0; letter-spacing: 5px; color: #fff; }
.b-audio__button-ok{margin-top: 30px;}

/*popups*/

.preloader{position: fixed;  top: 0;  left: 0;  width: 100%;  height: 100%;  z-index: 999999;}
.preloader-bg{position: fixed;  top: 0;  left: 0;  width: 100%;  height: 100%;  background: #fff;  z-index: 99992; opacity: 0.7;}
.preloader-image{ background: url(../images/image__loading.gif) no-repeat;  background-size: 100% 100%;  width: 50px;  height: 50px;  position: absolute;  top: 50%;  left: 50%;  margin: -25px 0 0 -25px;  z-index: 99993;}

.b-popup__agree, .b-popup__error{color: #fff;}
.b-popup__agree-bg, .b-popup__error-bg, .b-popup__access-bg {  position: fixed;  top: 0;  left: 0;  width: 100%;  height: 100%;  background: #009aa6;  z-index: 99992;}
.b-popup__agree-title, .b-popup__error-title{  color: #ffd500;  font-size: 22px;  display: block;  margin-bottom: 16px;}
.b-popup__agree-note, .b-popup__error-note{  display: block;  margin-bottom: 36px;}
.b-popup__agree-text, .b-popup__error-text {  width: 600px;  margin: 0 auto;  position: relative;  z-index: 99993;  padding: 20px;}
.b-popup__agree-logo, .b-popup__error-logo {  margin: 0 auto 20px;}
.b-popup__agree-item, .b-popup__error-item {  margin-bottom: 15px;}

.b-popup__agree-item-icon,
.b-popup__error-item-icon,
.b-popup__agree-item-text,
.b-popup__error-item-text,
.b-popup__agree-button,
.b-popup__error-button,
.b-popup__agree-cancel,
.b-popup__error-cancel {  display: inline-block;  vertical-align: middle;}

.b-popup__agree-item-icon, .b-popup__error-item-icon {  width: 32px;  height: 32px;  background-size: 100% auto;  background-repeat: no-repeat;  opacity: 0.3;}
.b-popup__agree-item-text, .b-popup__error-item-text {  margin-left: 7px;}
.b-popup__agree-accept, .b-popup__error-accept {  margin-top: 20px;  color: #ffd500;}
.b-popup__agree-buttons, .b-popup__error-buttons {  margin: 50px auto 0;  display: block;  text-align: right;  padding-top: 16px;  border-top: 1px solid #000; }
.b-popup__agree-button, .b-popup__error-button { margin-left: 20px;}
.b-popup__agree-cancel, .b-popup__error-cancel { color: #000;}

.denied .b-popup__error-item{margin-bottom: 5px;}
.denied .b-popup__error-image{height: 250px; width: 250px; margin: 0 auto; position: relative; z-index: 999999; background-image: url(../images/image__denied.png); background-size: auto 100%; background-position: center; background-repeat: no-repeat;}
.denied .b-popup__error-bg{background-color: #51003d !important;}
.denied .b-popup__error-item-icon{-webkit-filter: invert(100%); filter: invert(100%); }
.denied .b-popup__error-cancel{color: #fff;}
.denied .b-popup__error-buttons{margin-top: 20px;}
.denied .b-popup__error-note{margin-bottom: 20px;}
.denied .b-popup__error-text{margin-top: -20px;}
.denied-en{background-image: url(../images/image__denied__en.png) !important;}


.b-popup__access-bg{background-color: #285c35; }
.b-popup__access-image{height: 350px; width: 350px; margin: 100px auto 0; position: relative; z-index: 999999; background-image: url(../images/image__access.png); background-size: auto 100%; background-position: center; background-repeat: no-repeat;}
.access-en{background-image: url(../images/image__access__en.png) !important;}

.b-profile {background: url(../images/profile.jpg) no-repeat;  background-size: 100% auto;  width: 1366px;  min-height: 880px;  margin: 0 auto;  position: relative;}
.b-profile__user {  position: absolute;  top: 10px;  right: 204px;  color: #000;  font-size: 17px;}
.b-profile__logout{color: #000;}

.b-logout { width: 220px;  margin: 200px auto 0;  text-align: center;}
.b-logout__out,
.b-logout__delete {  padding: 5px 20px;  display: block; }
.b-logout__out {  margin-bottom: 30px; }

.button{border: 1px solid rgba(0, 0, 0, 0.3); background-color: rgba(0, 0,0, 0.2); color: #fff; padding: 5px 20px;  font-size: 17px; cursor: pointer;}
.button-circle{background-position: center;  border-radius: 50%; background-size: 60% auto; width: 70px; height: 70px; background-repeat: no-repeat; cursor: pointer;   background-color: rgba(0, 0, 0, 0.2);  border: solid 2px rgba(0, 0, 0, 0.3); color: #ffd500; text-transform: uppercase;}
.button:hover, .button:active, .button-circle:hover, .button-circle:active{background-color: rgba(0, 0,0, 0.4);}
.button:disabled, .button-circle:disabled{opacity: 0.5; cursor: not-allowed;}


.input{height: 32px; border: 1px solid rgba(0, 0, 0, 0.3);}
.input-error{box-shadow: 0px 0px 20px red;}

.hidden{display: none;}
.b-404{font-size: 30px; padding: 30px; box-sizing: border-box;}
a, button, input, textarea, select{outline: none;}
h1{font-size: 23px; font-weight: bold; color: #ffd500;}

.icon__mute {background-image: url(../images/icon__mute.svg);}
.icon__light {background-image: url(../images/icon__light.svg);}
.icon__face {background-image: url(../images/icon__face.svg);}
.icon__noface {background-image: url(../images/icon__noface.svg);}
.icon__sunglasses {background-image: url(../images/icon__sunglasses.svg);}
.icon__screen {background-image: url(../images/icon__screen_yellow.svg); }
.icon__close_eyes {background-image: url(../images/icon__close_eyes.svg);}
.icon__many_faces {background-image: url(../images/icon__many_faces.svg);}
.icon__poor_quality {background-image: url(../images/icon__poor_quality.svg);}

